

$font-pricipal: 'Roboto', sans-serif;
/*Web Colors :D */ 
$color-fondo:		white;
$color-text:    #212529;
$color-titulos: #8C1212;
$color-linea: #7C777A;
$color-row: red;
$color-bk-menu: #BA4B57;

/* Medias queries */ 
$tablet : 768px;
$desktop: 1024px;
$mobile:  480px;



