

$font-pricipal: 'Roboto', sans-serif;
/*Web Colors :D */ 
$color-fondo:		darken(#F6F6F6,20%);
$color-text:    #212529;
$color-titulos: #8C1212;
$color-linea: #7C777A;

/* Medias queries */ 
$tablet : 768px;
$desktop: 1024px;
$mobile:  480px;



