
/* FONTS */ 
$font-pricipal: 'Roboto', sans-serif;
$mPro-regular:'MyriadPro-Regular';
$mPro-bold:'MyriadPro-Bold';

/*Web Colors :D */ 
$color-fondo:		white;
$color-text:    #212529;
$color-titulos: #8C1212;
$color-linea: #7C777A;
$color-row: red;
$color-bk-menu: #821E37;
<<<<<<< HEAD
$color-fondo-links:$color-bk-menu;
$color-footer: #821E37;

/* Medias queries */

$color-footer: #891531;

/* Medias queries */

$tablet : 768px;
$desktop-md: 992px;
$desktop-lg:  1200px;



