/* Mis Fonts :D */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@import 'variables';
@import 'mixins';

/*
Extra small devices Phones (<768px)	 COL-XS-
Small devices Tablets (≥768px)     COL-SM-
Medium devices Desktops (≥992px)	 COL-MD-
Large devices Desktops (≥1200px)	 COL-LG-
*/

body{
	/*background-color: red;*/
	color: $color-text;
	font-family: $font-pricipal;
	@include desktop-lg{
		background-color:yellow;
	}
}
/*
 [class*='col-']{
	border: 1px solid blue;
 }
*/
.line{
	height:5px;
	background-color:$color-linea;
}
/*
.row{
	border:1px solid $color-row;
}
*/
.logo{
	/*border : 1px solid red;*/
	padding: 20px 0 0 10px;
	text-align:center;
	margin: 10px 0 15px 0;
	
	img{
		width: 300px;
		/*border:1px solid red;*/
	}
}
.h2-text{
	height:120px;
	display:none;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
input[type="text"]{
	padding: 2px 10px;
	font-style: italic; 
}

/* .navbar*/
.navbar{
	margin-bottom:0;
}

/* .navbar fix en el media query */ 
.fix-image--container{
  padding-left: 0;
  padding-right: 0;
  margin: 0;

  .fix-image{
  	width:100%;
  	height: 40vh;
  }
}
img.line-color{
	width:100%;
	vertical-align:top;
}

.video{
	margin-top:20px;
}

.line-dashed{
	border:1px dashed black;width:84%;
	margin:60px auto 20px auto;
}
ul.navbar-nav li a.linkP{
	font-weight:bold;
}

ul.submenu{
	display:inline-block;
	/*border:1px solid red;*/
}

.submenu li{
	display:inline-block;
	margin: 5px 30px;
	font-size: 20px;
	/*border:1px solid red;*/
	a{
		text-decoration:none;
	}
}

span.separate {
	
	margin-left: 35px;
	display:none;

}
.footerP{
	background-color:  #891531;
	color :white;
	margin-top:15px;
	/*border:1px solid yellow*;*/
	.col-md-6{
		/*border: 1px solid yellow;*/
		.footer--texto{
			text-align: center;
			padding:10px 0;
			margin:0;
			/*font-style: italic;*/
		}
	}
}

/* CONTENIDO NOSOTROS */

/* Parte izquierda */
.title-h2--izq{
	color: black;
	padding:10px 0 10px 30px;
	font-style:bold;
	font-size:30px;
/*
	&:after{
		content:' ';
    display:block;
    border:2px solid #49C1BC;
	}*/
}
.hr-nosotros{
	border:4px solid #49C1BC;
	margin-top:45px;
}
.textoG{
	font-size:18px;
	padding:8px 15px;
	margin-bottom:0;
	text-align:justify;
}
.noticias-general{
	background-color: #D2DBDA;
	padding: 	15px;
}
.subtitle-h2{
	padding:15px 15px 10px 15px;
	margin-top:0;
	margin-bottom:0;
}
ul.valores{
	/*border:1px solid red;*/
	font-size:18px;
}

/* Parte derecha */
.menu-nosotros{
	background-color:#909494;
	margin:35px 0 0 0;;
	/*border:1px solid red;*/
	padding: 15px 0;
	color:white;
	li{
	
		a{
			color:white;
			display: block;
			background-color:#909494;
			padding:5px 10px;
			font-size: 18px;
			text-decoration:none;
			&:hover{
			background-color: rgba(85,96,95,0.6);
		}
		}
		
	}

}	
.title-h2--der{
	background-color: #E89C3C;
	color: white;
	text-align:center;
	padding:10px 0;
	font-style:bold;
	font-size:22px;
	margin-bottom: 0px ;
}
h3.subtitle-h3{
	background-color: #D64B57;
	color:white;
	text-align: center;
	padding: 10px 0;
}
.view-container-border{
	background-color: black !important;
}

/* FIN CONTENIDO */



/* Interfacultades */ 
section.interFacultades{
	/*border:1px solid red;*/
	max-width:1000px;
	margin-top:50px;
	.interFac{
		/*border:1px solid blue;*/
		text-align: center;
		position: relative;
	}
}
.image1{
	 background-repeat: no-repeat;
	 width: 212px;
	 height: 584px;
	 position: relative;
	 margin: 0 auto;
	 background-image: url('../images/interFac1.jpg');
}
.image2{
	@extend .image1;
	background-image: url('../images/interFac2.jpg');
	
}
.image3{
	@extend .image1;
	background-image: url('../images/interFac3.jpg');
	
}
.image4{
	@extend .image1;
	background-image: url('../images/interFac4.jpg');
	
}

.texto-interFac--A{
			position: absolute;
			bottom:0;
		
			height: auto;
			width: 100%;
			background-color: rgba(43,44,47,0.9);
			font-size: 14px;
			color: white;
			padding: 15px;
			/* &:hover{
			// 	background-color: rgb(43,44,47);
			/ }*/
			.link-A{
				background-color: #52BCBB;
				display:inline-block;
				float: right;
				font-weight: bold;
				color:white;
				padding:5px;
				margin: 20px 0 35px 0;
			}
}

.title-interFac--A{
	background-color: #2B2C2F;
	position:absolute;
	bottom:0;
	width:100%;
	margin: 10px 0 0 0 ;
	padding:10px 0;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	font-family: $font-pricipal;

}

.texto-interFac--B{
	@extend .texto-interFac--A;
	background-color: rgba(180,80,45,0.6);
	.link-B{
		@extend .link-A;
		background-color: #50B26F;
	}
}
.title-interFac--B{
	@extend .title-interFac--A;
	background-color: #B4502D;
}

.texto-interFac--F{
	@extend .texto-interFac--A;
	background-color: rgba(14,90,45,0.6);
	.link-F{
		@extend .link-A;
		background-color: #F6BC57;
	}
}
.title-interFac--F{
	@extend .title-interFac--A;
	background-color: #0E5A2D;
}


.texto-interFac--V{
	@extend .texto-interFac--A;
	background-color: rgba(96,7,54,0.6);
	.link-V{
		@extend .link-A;
		background-color: #D5404E;
	}
}
.title-interFac--V{
	@extend .title-interFac--A;
	background-color: #600736;
}


/* FIN  Interfacultades */ 

/* INDEX 2 TEST */ 
section.pics-c{
	margin-top:25px;
}
.pic1{
	 width: auto;
	 height: 240px;
	 position: relative;
	 margin: 0 auto;
	 background-image: url('../images/pic-1.jpg');
	 background-repeat: no-repeat;
	 background-size: cover;
}
.texto-pic1{
	position: absolute;
	bottom:0;
	height: auto;
	width: 100%;
	background-color: rgba(244,184,94,0.8);
	font-size: 12px;
	color: white;
	padding: 10px;
	text-align: justify;
	font-family: $font-pricipal;

	// border:1px solid red;
	/* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/
	.link-pic1{
		background-color: #52BCBB;
		display:inline-block;
		float: right;
		font-weight: bold;
		color:white;
		padding:5px;
		/*border:1px solid red;*/
		margin: 10px 10px 0 0 ;		
			}
}
.pic2{
	@extend .pic1;
	height: 120px;
	background-image: url('../images/pic-2.jpg');
	margin-top:20px;
}

.pic3{
	@extend .pic1;
	height: 380px;
	background-image: url('../images/pic-3.jpg');

}
.texto-pic3{
	@extend .texto-pic1;
	background-color: rgba(241,96,98,0.9);
	/* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/
	.link-pic3{
		@extend .link-pic1;
		background-color: #50B26F;
				
	}
}

.pic4{
	@extend .pic1;
	height: 300px;
	background-image: url('../images/pic-4.jpg');

}
.texto-pic4{
	@extend .texto-pic1;
	background-color: rgba(76,186,123,0.8);
	/* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/
	.link-pic4{
		@extend .link-pic1;
		background-color: #F6BC57;
				
	}
}
.pic5{
	@extend .pic1;
	height: 100px;
	background-image: url('../images/pic-5.jpg');
}

.pic6{
	@extend .pic1;
	height: 350px;
	background-image: url('../images/pic-6.jpg');

}
.texto-pic6{
	@extend .texto-pic1;
	background-color: rgba(76,186,123,0.8);
	/* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/
	.link-pic6{
		@extend .link-pic1;
		background-color: #D64755;
				
	}
}
.pic7{
	@extend .pic1;
	height: 350px;
	background-image: url('../images/pic-7.jpg');

}
.texto-pic7{
	@extend .texto-pic1;
	background-color: rgba(241,96,98,0.5);
	/* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/
	.link-pic7{
		@extend .link-pic1;
		background-color:  #52BCBB;
				
	}
}


/* FIN INDEX 2 TEST */


@import 'menu';

@include desktop-md{
	body{
		
	}
}

@include desktop-lg{
	body{
		background-color:white;
	}
	.logo img{
		width:369px;		
	}
	.h2-text{
		height:120px;
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
	}
	span.separate {
	margin-left: 30px;
	display:inline-block;
	}
}








/*.test{
	@include tablet{
		background-color: yellow;
	}
	@include desktop{
		background-color: green;
	}
}*/

