<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

	link(rel="Shortcut Icon", href="http://www.usmp.edu.pe/images/logo.ico")
	link(rel="stylesheet", href="css/bootstrap.css")
	link(rel="stylesheet", href="css/slider.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="shortcut icon", href="images/logo.ico")
	script(src="js/jquery.js")
	script(src="js/bootstrap.js")
	script(src="js/myJS.js")
	title Deportes FIA
	
body
	.line 
<!-- header --> 

include partes/header

<!-- FIN header --> 
 
<!--  INICIO MENU --> 
	.navbar-wrapper
		.container.containerFix
			nav.navbar
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li: a(href='./nosotros.html') NOSOTROS
							
							li: a(href='./interfacultades.html') INTERFACULTADES
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| LIGAS 
									span.caret
								ul.dropdown-menu
									li: a(href='#') Profesionales
									li: a(href='#') Universitarios
							li.dropdown
								a.dropdown-toggle.active(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| EVENTOS 
									span.caret
								ul.dropdown-menu
									li: a(href='#') Ciencias Administrativas  y Recursos Humanos
									li: a(href='#') Ciencias de la Comunicación, Turismo y Psicología
									li: a(href='#') Ciencias Contables, Económicas y Financieras
									li: a(href='#') Derecho
									li: a(href='#') Ingeniería y Arquitectura
									li: a(href='#') Obstetrica y Enfermería
									li: a(href='#') Medicina Humana
									li: a(href='#') Odontología
<!-- FIN  MENU --> 
<!-- SLIDER -->


	.container-fluid
		.row
			.col-md-12.fix-image--container
				img.img-responsive.fix-image(src='images/pic1-a.jpg')

	div.container-frase
		h2.text-frase “Amamos lo que hacemos, amamos los deportes”.

<!-- FIN SLIDER -->	

<!-- INICIO GRID D ITEMSs -->
	section.container.pics-c
		div.row
			div.col-md-6
				div.pic1
				div.texto-pic1 
					h3 INAUGURACIÓN DE LOS JUEGOS DEPORTIVOS INTERFACULTADES 2017
					p.fecha 14 de octubre de 2017
					p.text-review El pasado sábado 14 de octubre se realizó con éxito la inauguración de los juegos deportivos Interfacultades ...
						a.link-pic1 Leer más	
						
			div.col-md-3
					div.pic2
					div.texto-pic2 
						h3 INTERFACULTADES 2017 VÓLEY DAMAS: La FIA 
						p.text-review Logró quedar como primera en la tabla de posiciones.
						a.link-pic2 Leer más	

					div.pic2(style="margin-top:10px;")
					div.texto-pic2 
						h3 PRIMER TORNEO DE AJEDREZ - FIA 2017
						p.text-review Oscar Puente, alumno de la carrera de Ingeniería Civil, se coronó ...
						a.link-pic2 Leer más	

			div.col-md-3
				iframe.video.hidden-xs.hidden-sm(width='100%', src='https://www.youtube.com/embed/kPTmm9PVl3c', frameborder='0', allowfullscreen='')
				iframe.video(width='100%', src='https://www.youtube.com/embed/AUj-PEWAGIw', frameborder='0', allowfullscreen='')
				iframe.video(width='100%', src='https://www.youtube.com/embed/OeZMgnAqEmk', frameborder='0', allowfullscreen='')
				

<!-- FIN GRID D ITEMSS -->
	hr.line-dashed
<!-- Menu Pie -->
	section.container
		.row
			.col-md-9
				ul.submenu
					li: a  Contacto
						span.separate | 
					li: a(href='http://usmp.edu.pe/deportes/nosotros.html') Acerca de Nosotros 
						span.separate |
					li: a Preguntas Frencuentes 
						span.separate |
					li: a Enlaces
			.col-md-3
				div.redes
					a(href="#")
						img(src="images/facebook.jpg", alt="")
					a(href="#")
						img(src="images/insta.jpg", alt="")
					a(href="#")
						img(src="images/tuiter.jpg", alt="")
					a(href="#")
						img(src="images/utube.jpg", alt="")

<!-- Fin Menu Pie -->

<!-- footer -->
include partes/footer



