<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

	link(rel="Shortcut Icon", href="http://www.usmp.edu.pe/images/logo.ico")
	link(rel="stylesheet", href="css/bootstrap.css")
	link(rel="stylesheet", href="css/slider.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="shortcut icon", href="images/logo.ico")
	script(src="js/jquery.js")
	script(src="js/bootstrap.js")
	script(src="js/myJS.js")
	title Deportes FIA

body
	.line 
<!-- Cabecera --> 
	header.container
		.row
			figure.col-md-6.logo
				a(href="./")
					img(src='images/fiaDeportesLogo.png', alt='Fia Deportes')
			form.col-md-3.col-md-offset-3.form(action='')
				input(type='text', placeholder='Buscar')
<!-- FIN Cabecera --> 

<!--  INICIO MENU --> 
	.navbar-wrapper
		.container.containerFix
			nav.navbar
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href='./nosotros.html') NOSOTROS
							
							li
								a(href='./interfacultades.html') INTERFACULTADES
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| LIGAS 
									span.caret
								ul.dropdown-menu
									li
										a(href='#') Profesionales
									li
										a(href='#') Universitarios
							li.dropdown
								a.dropdown-toggle.active(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| EVENTOS 
									span.caret
								ul.dropdown-menu
									li
										a(href='#') Ciencias Administrativas  y RRHH
									li
										a(href='#') Ciencias de la Comunicación, Turimos y Hotelería
									li
										a(href='#') Ciencias Contables, Económicas y Financieras
									li
										a(href='#') Derecho
									li
										a(href='#') Ingeniería y Arquitectura
									li
										a(href='#') Obstetrica y Enfermería
									li
										a(href='#') Medicina Humana
									li
										a(href='#') Odontología
<!-- FIN  MENU --> 
<!-- SLIDER -->

	#myCarousel.carousel.slide(data-ride='carousel')
		// Indicators
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
			li(data-target='#myCarousel', data-slide-to='2')
			
		// Wrapper for slides
		.carousel-inner(role='listbox')
			.item.active
				img.img-responsive(src='images/pic1.jpg', alt='Pic slider 1', style='width:100%; height:38vh')
			.item
				img.img-responsive(src='images/pic2.jpg', alt='Pic slider 2', style='width:100%; height:38vh')
			.item
				img.img-responsive(src='images/pic3.jpg', alt='Pic slider 3', style='width:100%; height:38vh')
			//.item
				img.img-responsive(src='http://weddingplannershub.com/vendor/bower/wedding/branch_images/LtpmzAGTBWcxaoV_fMhT2PWFmgOZHPtd.jpg', alt='Chania', style='width:100%; height:38vh')
		// Left and right controls
		a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			span.sr-only Previous
		a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			span.sr-only Next

	img.line-color(src="images/linea_colores.png", alt="Line of Colors")

<!-- FIN SLIDER -->	

<!-- INICIO GRID D ITEMS -->
	section.container.gridPics
		section.row
			// grande
			.col-lg-6.col-md-6.col-xs-12.fotos_borde
				.row
					.row
						.col-lg-6.col-md-6.col-xs-12.sP
							// pequeñitos
							.row
								.col-lg-12.col-md-12.col-xs-12.sP(style='height:230px')
									img(src='images/piernita1.png', style='margin:0;width:90%; position:absolute;z-index:-1')
									div(style='padding:20px;width:90%;color:white;background-color:rgba(237,181,85,0.5);margin-top:45%')
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										| tempor incididunt   
										a(href='') Ver mas
								.col-lg-12.col-md-12.col-xs-12.sP
									img(src='images/piernita3.png', style='width:90%;margin:0;padding-top:20px')
						.col-lg-6.col-md-12.col-xs-12.sP
							img(src='images/nueva.png', style='margin:0;width:90%;position:absolute;z-index: -1;height:390px')
							div(style='padding:20px;width:90%;color:white;background-color:rgba(255,0,0,0.5);margin-top:88%')
								span(style='font-size: 13px')
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu fringilla enim. Nulla ac congue ipsum. Aliquam erat volutpat. Aenean.
								a(href='') Ver mas
					.row
						.col-lg-12.col-md-12.col-xs-12.sP
							img(src='images/pernita4.png', style='margin:0px;margin-top:20px;width:95%;z-index:-1;position:absolute')
							div(style='padding:20px;width:95%;color:white;background-color:rgba(78,179,111,0.8);margin-top:40%')
								span(style='font-size: 13px')
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu fringilla enim. Nulla ac congue ipsum. Aliquam erat volutpat. Aenean.
								a(href='') Ver mas
			// grande
			.col-lg-6.col-md-6.col-xs-12
				// grande- subseccion
				.row.fotos_borde
					.col-lg-6.col-md-6.col-xs-12
						.col-lg-12.col-md-12.col-xs-12.sP
							img(style='margin:0; width:100%;margin-top:20px', src='images/pernita5.png')
						.col-lg-12.col-md-12.col-xs-12.sP
							iframe.video(width='100%',style="height:188px", src='https://www.youtube.com/embed/9MqZCsdZS3E', frameborder='0', allowfullscreen='')
						.col-lg-12.col-md-12.col-xs-12.sP
							iframe.video(width='100%',style="height:188px", src='https://www.youtube.com/embed/CaBYiBORMoE', frameborder='0', allowfullscreen='')
						.col-lg-12.col-md-12.col-xs-12.sP
							iframe.video(width='100%',style="height:188px", src='https://www.youtube.com/embed/mnb3sFMcuxQ', frameborder='0', allowfullscreen='')
					.col-lg-6.col-md-6.col-xs-12.sP
						.col-lg-12.col-md-12.col-xs-12.sP(style='height:330px')
							img(src='images/img2.png', style='margin:0;width:100%;position:absolute;z-index:-1')
							div(style='padding:12px;width:100%;color:white;background-color:rgba(246,188,87,0.5);margin-top:95%')
								| Lorem ipsum dolor sit amet, consectetur adipisicing elitasfdefawefwf
								a(href='#') Ver mas
						.col-lg-12.col-md-12.col-xs-12.sP(style='height:396px;margin-top:10px;overflow:hidden')
							img(src='images/piernita2.png', style='margin:0;width:100%;position:absolute;z-index:-1')
							div(style='padding:20px;width:100%;color:white;background-color:rgba(255,0,0,0.5);margin-top:110%;')
								span   Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								a(href='#') Ver mas
<!-- FIN GRID D ITEMS -->
	hr.line-dashed
<!-- Menu Pie -->
	section.container
		.row
			.col-md-10
				ul.submenu
					li
						a(href="#")  Contacto
						span.separate | 
					li
						a(href="#") Acerca de Nosotros 
						span.separate |
					li
						a(href="#") Preguntas Frencuentes 
						span.separate |
					li
						a(href="#") Enlaces
<!-- Fin Menu Pie -->

<!-- footer -->
	footer.container-fluid.footerP
		.row
			.col-md-6.col-md-offset-3 
				p.footer--texto Universidad San Martin de Porres - Todos los Derechos Reservados



<!-- FIN GRID D ITEMS -->