<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

	link(rel="Shortcut Icon", href="http://usmp.edu.pe/images/logo.ico")
<!--	link(rel='stylesheet', type='text/css', href='css/demo.css')-->
	link(rel='stylesheet', type='text/css', href='css/calendar.css')
	link(rel='stylesheet', type='text/css', href='css/calendar_custom_2.css')
	link(rel="stylesheet", href="css/bootstrap.css")
	link(rel="stylesheet", href="css/slider.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="shortcut icon", href="http://www.usmp.edu.pe/images/logo.ico")
	script(src="js/jquery.js")
	script(src="js/bootstrap.js")
	script(src="js/myJS.js")
	script(src='js/modernizr.custom.63321.js')
	title Deportes FIA

body
	.line 
<!-- Cabecera --> 
	header.container
		.row
			figure.col-md-6.logo
				a(href="http://usmp.edu.pe/deportes/")
					img(src='images/fiaDeportesLogo.png', alt='Fia Deportes')
			//- form.col-md-3.col-md-offset-3.form(action='')
			//- 	input(type='text', placeholder='Buscar')
<!-- FIN Cabecera --> 

<!--  INICIO MENU --> 
	.navbar-wrapper
		.container.containerFix
			nav.navbar
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href='http://usmp.edu.pe/deportes/nosotros.html') NOSOTROS
							
							li
								a(href='http://usmp.edu.pe/deportes/interfacultades.html') 
									strong INTERFACULTADES
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| LIGAS 
									span.caret
								ul.dropdown-menu
									li
										a(href='#') Profesionales
									li
										a(href='#') Universitarios
							li.dropdown
								a.dropdown-toggle.active(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| EVENTOS 
									span.caret
								ul.dropdown-menu
									li
										a(href='#') Ciencias Administrativas  y Recursos Humanos
									li
										a(href='#') Ciencias de la Comunicación, Turimos y Psicología
									li
										a(href='#') Ciencias Contables, Económicas y Financieras
									li
										a(href='#') Derecho
									li
										a(href='#') Ingeniería y Arquitectura
									li
										a(href='#') Obstetrica y Enfermería
									li
										a(href='#') Medicina Humana
									li
										a(href='#') Odontología
<!-- FIN  MENU --> 
<!-- SLIDER -->

	.container-fluid
			.row
				.col-md-12.fix-image--container
					img.img-responsive.fix-image(src='images/portada-interfacultades.jpg')

	img.line-color(src="images/linea_colores.png", alt="Line of Colors")

<!-- FIN SLIDER -->	

<!-- INICIO Interfacultades -->
	section.container.interFacultades
		div.row
			div.col-md-3.col-sm-6.col-xs-12.interFac
				div.image1 
					//- div.texto-interFac--A Texto random a mostrar Texto random a mostrar Texto random a mostrar Texto random a mostrar Texto random a mostrar
					//- 	a.link-A(href="#") ver más
					div.title-interFac--A Ajedrez	

			div.col-md-3.col-sm-6.col-xs-12.interFac
				div.image2 
					//- div.texto-interFac--B Texto random a mostrar Texto random a mostrar Texto random a mostrar Texto random a mostrar Texto random a mostrar
					//- 	a.link-B(href="#") ver más
					div.title-interFac--B Basket
			div.col-md-3.col-sm-6.col-xs-12.interFac
				div.image3 
					//- div.texto-interFac--F Texto random a mostrar Texto random a mostrar Texto random a mostrar Texto random a mostrar Texto random a mostrar
					//- 	a.link-F(href="#") ver más
					div.title-interFac--F Futbol
			div.col-md-3.col-sm-6.col-xs-12.interFac
				div.image4 
					//- div.texto-interFac--V Texto random a mostrar Texto random a mostrar Texto random a mostrar Texto random a mostrar Texto random a mostrar
					//- 	a.link-V(href="#") ver más
					div.title-interFac--V Voley
	
<!-- FIN Interfacultades -->
<!-- row  calendar -->
	section.container.interFacultades
		div.row
			div.col-md-4 
				//- h3.subtitle-h3 Calendario Deportivo
				.container-two
					section.main
						div.custom-calendar-wrap
								div#custom-inner.custom-inner
								div.custom-header.clearfix
									nav
										span#custom-prev.custom-prev
										span#custom-next.custom-next
									h2#custom-month.custom-month
									h3#custom-year.custom-year
								div#calendar.fc-calendar-container

			div.col-md-4

				iframe.video.hidden-xs.hidden-sm(width='100%',style="height:175px", src='https://www.youtube.com/embed/4qQq87HixWs', frameborder='0', allowfullscreen='')
				iframe.video(width='100%',style="height:175px", src='https://www.youtube.com/embed/AUj-PEWAGIw', frameborder='0', allowfullscreen='')
			div.col-md-4 
				iframe.video(width='100%',style="height:175px", src='https://www.youtube.com/embed/sEfgOuDRv8Y', frameborder='0', allowfullscreen='')
				//- iframe.video(width='100%',style="height:188px", src='https://www.youtube.com/embed/9MqZCsdZS3E', frameborder='0', allowfullscreen='')
<!-- Fin row calendar  -->


	hr.line-dashed
<!-- Menu Pie -->
	section.container
		.row
			.col-md-10.col-md-offset-1
				ul.submenu
					li
						a  Contacto
						span.separate | 
					li
						a(href='http://usmp.edu.pe/deportes/nosotros.html') Acerca de Nosotros 
						span.separate |
					li
						a Preguntas Frencuentes 
						span.separate |
					li
						a Enlaces
<!-- Fin Menu Pie -->

<!-- footer -->
	footer.container-fluid.footerP
		.row
			.col-md-6.col-md-offset-3 
				p.footer--texto Universidad San Martin de Porres - Todos los Derechos Reservados

	script(type='text/javascript', src='js/jquery.calendario.js')
	script(type='text/javascript', src='js/data.js')
	script(type='text/javascript', src='js/functionCalendar.js')