doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

	link(rel="Shortcut Icon", href="http://usmp.edu.pe/images/logo.ico")
<!--	link(rel='stylesheet', type='text/css', href='css/demo.css')-->
	link(rel='stylesheet', type='text/css', href='css/calendar.css')
	link(rel='stylesheet', type='text/css', href='css/calendar_custom_2.css')
	link(rel="stylesheet", href="css/bootstrap.css")
	link(rel="stylesheet", href="css/slider.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="shortcut icon", href="http://www.usmp.edu.pe/images/logo.ico")
	script(src="js/jquery.js")
	script(src="js/bootstrap.js")
	script(src="js/myJS.js")
	script(src='js/modernizr.custom.63321.js')
	title Deportes FIA

body
	.line 
<!-- header --> 

include partes/header

<!-- FIN header --> 

<!--  INICIO MENU --> 
.navbar-wrapper
		.container.containerFix
			nav.navbar
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li(style="background-color:#76142E"): a(href='./nosotros.html') NOSOTROS
							
							li: a(href='./interfacultades.html') INTERFACULTADES
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| LIGAS 
									span.caret
								ul.dropdown-menu
									li.dropdown-submenu
										a.dropdown-toggle.fixA(href='#', data-toggle='dropdown') Profesionales
										ul.dropdown-menu
											li
												a(href='http://www.clubdeportivo.usmp.edu.pe/' , target="_blank") Club de Fútbol
											li
												a(href='https://www.facebook.com/USMPVoleibol/' target="_blank") Club de Vóley

									li: a(href='#') Universitarios

							li.dropdown
								a.dropdown-toggle.active(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| EVENTOS 
									span.caret
								ul.dropdown-menu
									li: a(href='#') Ciencias Administrativas  y Recursos Humanos
									li: a(href='#') Ciencias de la Comunicación, Turismo y Psicología
									li: a(href='#') Ciencias Contables, Económicas y Financieras
									li: a(href='#') Derecho
									li: a(href='#') Ingeniería y Arquitectura
									li: a(href='#') Obstetrica y Enfermería
									li: a(href='#') Medicina Humana
									li: a(href='#') Odontología
<!-- FIN  MENU --> 
<!-- SLIDER -->

	.container-fluid
		.row
			.col-md-12.fix-image--container
				img.img-responsive.fix-image(src='images/pic1-a.jpg')

	div.container-frase
		h2.text-frase “Amamos lo que hacemos, amamos los deportes”.

<!-- FIN SLIDER -->	

<!-- INICIO Contenido -->
	section.container
		div.row
			//- div.col-md-9.col-md-push-0.col-sm-9.col-sm-push-3.col-xs-12.show-item(style="border:1px solid red",category="QS")
			div.col-md-9.col-md-push-0.col-sm-9.col-sm-push-3.col-xs-12.show-item(category="QS")
				.row
					h2.col-md-2.title-h2--izq Somos
					div.col-md-10
						hr.hr-nosotros
				p.textoG La Universidad de San Martín de Porres promueve la práctica del deporte y recreación como factores educativos adicionales a la formación y desarrollo de los alumnos.
				h2.subtitle-h2 Misión

				p.textoG Fomentar la práctica del deporte, la recreación, y la utilización del ocio productivo, mediante actividades lúdicas de fácil participación en la Universidad, como medio de integración y conservación de la salud física y mental.
				
				h2.subtitle-h2 Visión
				p.textoG Posicionarnos como la universidad líder en la promoción y desarrollo de la práctica deportiva.
			
				h2.subtitle-h2 Valores
				ul.valores
					li Respeto
					li Responsabilidad
					li Integridad 
					li Liderazgo
					li Trabajo en equipo

			div.col-md-9.col-md-push-0.col-sm-9.col-sm-push-3.col-xs-12.show-item(category="EQ" , style="display:none;")
				.row
					h2.col-md-4.title-h2--izq  Equipo de Trabajo
					div.col-md-8
						hr.hr-nosotros
				h2.subtitle-h2 MIEMBROS DEL COMITÉ DEL PROGRAMA DEPORTIVO DE ALTA COMPETENCIA (PRODAC) DE LA UNIVERSIDAD DE SAN MARTÍN DE PORRES

				
				ul.valores
					li
						p Mag. Luis Maraví
						p Jefe de PRODAC de la Universidad de San Martín de Porres.
					li
						p Dr. Víctor García
						p Representante de la Facultad de Ciencias Administrativas y Recursos Humanos.
					li
						p Lic. Fredy Ávila
						p Representante de la Facultad de Ciencias de la Comunicación, Turismo y Psicología.
					li
						p Lic. María Pizarro
						p Representante la Facultad de Ciencias Contables, Económicas y Financieras.
					li
						p Lic. Amparo Alvarado
						p Representante de la Facultad de Derecho.
					li
						p Lic. Rosalva Rojas
						p Representante de la Facultad de Ingeniería y Arquitectura.
					li
						p Dra. Liliana Gómez
						p Representante de la Facultad de Medicina Humana
					li
						p Lic. María Isabel Ganoza
						p Representante de la Facultad de Obstetricia y Enfermería.
					li
						p Cristopher Escudero
						p Representante de la Facultad de Odontología.
			//- div.col-md-3.col-md-pull-0.col-sm-3.col-sm-pull-9.col-xs-12(style="border:1px solid blue")
			div.col-md-3.col-md-pull-0.col-sm-3.col-sm-pull-9.col-xs-12
				ul.menu-nosotros
					li
						a.category_item(category="QS") 
							span.glyphicon.glyphicon-chevron-right
							|	¿Quiénes Somos?
					li
						a.category_item(category="EQ")
							span.glyphicon.glyphicon-chevron-right
							|  Equipo

				h2.title-h2--der ÚLTIMAS NOTICIAS
				div.noticias-general
					p Segunda fecha de los juegos deportivos  
					p Primera fecha de los Juegos Deportivos
					p Partido Inaugual de los Juegos Deportivos
					p Inauguración de los Juegos Deportivos
					 
				
				
				h3.subtitle-h3 Calendario Deportivo
				
				.container-two
					section.main
						div.custom-calendar-wrap
								div#custom-inner.custom-inner
								div.custom-header.clearfix
									nav
										span#custom-prev.custom-prev
										span#custom-next.custom-next
									h2#custom-month.custom-month
									h3#custom-year.custom-year
								div#calendar.fc-calendar-container

<!-- FIN Contenido -->
	hr.line-dashed
<!-- Menu Pie -->
	section.container
		.row
			.col-md-10.col-md-offset-1
				ul.submenu
					li: a  Contacto
						span.separate | 
					li: a(href='http://usmp.edu.pe/deportes/nosotros.html') Acerca de Nosotros 
						span.separate |
					li: a Preguntas Frencuentes 
						span.separate |
					li: a Enlaces
<!-- Fin Menu Pie -->

<!-- footer -->
include partes/footer
	script(type='text/javascript', src='js/showContenido.js')
	script(type='text/javascript', src='js/jquery.calendario.js')
	script(type='text/javascript', src='js/data.js')
	script(type='text/javascript', src='js/functionCalendar.js')