<!DOCTYPE html>
html(lang="es")
head
	title Deportes FIA
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="Shortcut Icon", href="http://usmp.edu.pe/images/logo.ico")
<!--	link(rel='stylesheet', type='text/css', href='css/demo.css')-->
	link(rel='stylesheet', type='text/css', href='css/calendar.css')
	link(rel='stylesheet', type='text/css', href='css/calendar_custom_2.css')
	link(rel="stylesheet", href="css/bootstrap.css")
	link(rel="stylesheet", href="css/slider.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="shortcut icon", href="http://www.usmp.edu.pe/images/logo.ico")
	script(src="js/jquery.js")
	script(src="js/bootstrap.js")
	script(src="js/myJS.js")
	script(src='js/modernizr.custom.63321.js')
body 
	h1.test soy del index 2

	p #{name}'s Pug source code!

	script(type='text/javascript', src='js/jquery.calendario.js')
	script(type='text/javascript', src='js/data.js')
	script(type='text/javascript', src='js/functionCalendar.js')