@charset "UTF-8";
/* Mis Fonts :D */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/*Web Colors :D */
/* Medias queries */
/*  Mixins para los media QUERIOES */
/*
Extra small devices Phones (<768px)	 COL-XS-
Small devices Tablets (≥768px)     COL-SM-
Medium devices Desktops (≥992px)	 COL-MD-
Large devices Desktops (≥1200px)	 COL-LG-
*/
body {
  background-color: red;
  color: #212529;
  font-family: "Roboto", sans-serif; }
  @media only screen and (min-width: 1200px) {
    body {
      background-color: yellow; } }

/*
 [class*='col-']{
	border: 1px solid blue;
 }
*/
.line {
  height: 5px;
  background-color: #7C777A; }

/*
.row{
	border:1px solid $color-row;
}
*/
.logo {
  /*border : 1px solid red;*/
  padding: 20px 0 0 10px;
  text-align: center;
  margin: 10px 0 15px 0; }
  .logo img {
    width: 300px;
    /*border:1px solid red;*/ }

.form {
  height: 120px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

input[type="text"] {
  padding: 2px 10px;
  font-style: italic; }

/* .navbar*/
.navbar {
  margin-bottom: 0; }

/* .navbar fix en el media query */
.fix-image--container {
  padding-left: 0;
  padding-right: 0;
  margin: 0; }
  .fix-image--container .fix-image {
    width: 100%;
    height: 40vh; }

img.line-color {
  width: 100%;
  vertical-align: top; }

.video {
  margin-top: 20px; }

.line-dashed {
  border: 1px dashed black;
  width: 84%;
  margin: 60px auto 20px auto; }

ul.submenu {
  display: inline-block;
  /*border:1px solid red;*/ }

.submenu li {
  display: inline-block;
  margin: 5px 30px;
  font-size: 20px;
  /*border:1px solid red;*/ }
  .submenu li a {
    text-decoration: none; }

span.separate {
  margin-left: 35px;
  display: none; }

.footerP {
  background-color: #891531;
  color: white;
  margin-top: 15px;
  /*border:1px solid yellow*;*/ }
  .footerP .col-md-6 {
    /*border: 1px solid yellow;*/ }
    .footerP .col-md-6 .footer--texto {
      text-align: center;
      padding: 10px 0;
      margin: 0;
      /*font-style: italic;*/ }

/* CONTENIDO NOSOTROS */
/* Parte izquierda */
.title-h2--izq {
  color: black;
  padding: 10px 0 10px 30px;
  font-style: bold;
  font-size: 30px;
  /*
	&:after{
		content:' ';
    display:block;
    border:2px solid #49C1BC;
	}*/ }

.hr-nosotros {
  border: 4px solid #49C1BC;
  margin-top: 45px; }

.textoG {
  font-size: 18px;
  padding: 8px 15px;
  margin-bottom: 0;
  text-align: justify; }

.noticias-general {
  background-color: #D2DBDA;
  padding: 15px; }

.subtitle-h2 {
  padding: 15px 15px 10px 15px;
  margin-top: 0;
  margin-bottom: 0; }

ul.valores {
  /*border:1px solid red;*/
  font-size: 18px; }

/* Parte derecha */
.menu-nosotros {
  background-color: #909494;
  margin: 35px 0 0 0;
  /*border:1px solid red;*/
  padding: 15px 0;
  color: white; }
  .menu-nosotros li a {
    color: white;
    display: block;
    background-color: #909494;
    padding: 5px 10px;
    font-size: 18px;
    text-decoration: none; }
    .menu-nosotros li a:hover {
      background-color: rgba(85, 96, 95, 0.6); }

.title-h2--der {
  background-color: #E89C3C;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-style: bold;
  font-size: 22px;
  margin-bottom: 0px; }

h3.subtitle-h3 {
  background-color: #D64B57;
  color: white;
  text-align: center;
  padding: 10px 0; }

.view-container-border {
  background-color: black !important; }

/* FIN CONTENIDO */
/* Interfacultades */
section.interFacultades {
  /*border:1px solid red;*/
  max-width: 1000px;
  margin-top: 50px; }
  section.interFacultades .interFac {
    /*border:1px solid blue;*/
    text-align: center;
    position: relative; }

.image1, .image2, .image3, .image4 {
  background-repeat: no-repeat;
  width: 212px;
  height: 584px;
  position: relative;
  margin: 0 auto;
  background-image: url("../images/interFac1.jpg"); }

.image2 {
  background-image: url("../images/interFac2.jpg"); }

.image3 {
  background-image: url("../images/interFac3.jpg"); }

.image4 {
  background-image: url("../images/interFac4.jpg"); }

.texto-interFac--A, .texto-interFac--B, .texto-interFac--F, .texto-interFac--V {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: rgba(43, 44, 47, 0.9);
  font-size: 14px;
  color: white;
  padding: 15px;
  /* &:hover{
			// 	background-color: rgb(43,44,47);
			/ }*/ }
  .texto-interFac--A .link-A, .texto-interFac--B .link-A, .texto-interFac--F .link-A, .texto-interFac--V .link-A, .texto-interFac--B .link-B, .texto-interFac--F .link-F, .texto-interFac--V .link-V {
    background-color: #52BCBB;
    display: inline-block;
    float: right;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 20px 0 35px 0; }

.title-interFac--A, .title-interFac--B, .title-interFac--F, .title-interFac--V {
  background-color: #2B2C2F;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif; }

.texto-interFac--B {
  background-color: rgba(180, 80, 45, 0.6); }
  .texto-interFac--B .link-B {
    background-color: #50B26F; }

.title-interFac--B {
  background-color: #B4502D; }

.texto-interFac--F {
  background-color: rgba(14, 90, 45, 0.6); }
  .texto-interFac--F .link-F {
    background-color: #F6BC57; }

.title-interFac--F {
  background-color: #0E5A2D; }

.texto-interFac--V {
  background-color: rgba(96, 7, 54, 0.6); }
  .texto-interFac--V .link-V {
    background-color: #D5404E; }

.title-interFac--V {
  background-color: #600736; }

/* FIN  Interfacultades */
/* INDEX 2 TEST */
section.pics-c {
  margin-top: 25px; }

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7 {
  width: auto;
  height: 240px;
  position: relative;
  margin: 0 auto;
  background-image: url("../images/pic-1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.texto-pic1, .texto-pic3, .texto-pic4, .texto-pic6, .texto-pic7 {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: rgba(244, 184, 94, 0.8);
  font-size: 12px;
  color: white;
  padding: 10px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  /* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/ }
  .texto-pic1 .link-pic1, .texto-pic3 .link-pic1, .texto-pic4 .link-pic1, .texto-pic6 .link-pic1, .texto-pic7 .link-pic1, .texto-pic3 .link-pic3, .texto-pic4 .link-pic4, .texto-pic6 .link-pic6, .texto-pic7 .link-pic7 {
    background-color: #52BCBB;
    display: inline-block;
    float: right;
    font-weight: bold;
    color: white;
    padding: 5px;
    /*border:1px solid red;*/
    margin: 10px 10px 0 0; }

.pic2 {
  height: 120px;
  background-image: url("../images/pic-2.jpg");
  margin-top: 20px; }

.pic3 {
  height: 380px;
  background-image: url("../images/pic-3.jpg"); }

.texto-pic3 {
  background-color: rgba(241, 96, 98, 0.9);
  /* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/ }
  .texto-pic3 .link-pic3 {
    background-color: #50B26F; }

.pic4 {
  height: 300px;
  background-image: url("../images/pic-4.jpg"); }

.texto-pic4 {
  background-color: rgba(76, 186, 123, 0.8);
  /* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/ }
  .texto-pic4 .link-pic4 {
    background-color: #F6BC57; }

.pic5 {
  height: 100px;
  background-image: url("../images/pic-5.jpg"); }

.pic6 {
  height: 350px;
  background-image: url("../images/pic-6.jpg"); }

.texto-pic6 {
  background-color: rgba(76, 186, 123, 0.8);
  /* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/ }
  .texto-pic6 .link-pic6 {
    background-color: #D64755; }

.pic7 {
  height: 350px;
  background-image: url("../images/pic-7.jpg"); }

.texto-pic7 {
  background-color: rgba(241, 96, 98, 0.5);
  /* &:hover{
	// 	background-color: rgb(43,44,47);
	/ }*/ }
  .texto-pic7 .link-pic7 {
    background-color: #52BCBB; }

/* FIN INDEX 2 TEST */
.navbar, .dropdown-menu {
  background-color: #BA4B57; }

.nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
  /*border-bottom: 3px solid transparent;*/ }

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  /* border-bottom: 3px solid transparent;*/
  background: none; }

.navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
  color: #fff; }

.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-toggle .icon-bar {
  color: #fff;
  background: #fff; }

.containerFix {
  padding: 0;
  /*	border:1px solid orange;*/
  float: none;
  margin: 0 auto;
  table-layout: fixed; }

.navbar-wrapper {
  /*border:2px solid green;*/ }

@media (min-width: 768px) {
  .dropdown-menu {
    opacity: 0.8; }
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    /*background-color:blue;*/ }
  .navbar-nav li {
    margin: 0 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal; }
    .navbar-nav li li {
      margin: 7px 0; }
      .navbar-nav li li:hover {
        background-color: white; }
      .navbar-nav li li a {
        color: white; }
        .navbar-nav li li a:hover {
          color: black; }
  .navbar-wrapper {
    background: #BA4B57;
    padding: 0;
    margin: 0; }
  .navbar {
    margin-bottom: 0;
    background-color: #BA4B57; } }

@media only screen and (min-width: 1200px) {
  body {
    background-color: white; }
  .logo img {
    width: 369px; }
  .form {
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  span.separate {
    margin-left: 30px;
    display: inline-block; } }

/*.test{
	@include tablet{
		background-color: yellow;
	}
	@include desktop{
		background-color: green;
	}
}*/
