header.container
		.row
			figure.col-md-6.logo(style="border:1px solid red;")
				a(href="http://usmp.edu.pe/deportes/")
					img(src='images/fiaDeportesLogo.png', alt='Fia Deportes')
			div.col-md-3.col-md-offset-3.h2-text(style="border:0px solid red;")
				img(src="images/img-diagonal.png", alt="image diagonal", style="margin-bottom:-2px;border:0px solid red;z-index:10") 
				h2 Deportes