header.container
		.row
			figure.col-md-4.logo
				a(href="./")
					img(src='images/usmp_logo.png', alt='Fia Deportes')
			div.col-md-3.col-md-offset-5.h2-text
				img(src="images/img-diagonal.png", alt="image diagonal") 
				h2 DEPORTES