section.container
	.row
		.col-md-9
			ul.submenu
				li: a  Contacto
					span.separate | 
				li: a(href='http://usmp.edu.pe/deportes/nosotros.html') Acerca de Nosotros 
					span.separate |
				li: a Preguntas Frencuentes 
					span.separate |
				li: a Enlaces
		.col-md-3
			div.redes
				a(href="#")
					img(src="images/icons/facebook.jpg", alt="")
				a(href="#")
					img(src="images/icons/insta.jpg", alt="")
				a(href="#")
					img(src="images/icons/tuiter.jpg", alt="")
				a(href="#")
					img(src="images/icons/utube.jpg", alt="")